<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ticket.mapper.CarriageInfoMapper">

    <!-- 查询所有车厢模板 -->
    <select id="selectAllTemplates" resultType="com.example.ticket.entity.CarriageInfo">
        SELECT * FROM carriage_info
        ORDER BY carriage_number, seat_number
    </select>

</mapper>
