<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ticket.mapper.PriceScheduleMapper">


    <insert id="batchInsertOrUpdate" parameterType="list">
        INSERT INTO price_schedule (train_id, station_count, price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.trainId}, #{item.stationCount}, #{item.price})
        </foreach>
        ON DUPLICATE KEY UPDATE price = VALUES(price)
    </insert>

</mapper>
